header{
    text-align: center;
    background-color: #E6E6E6;
}
h1{
    background-color: #C4C4C4;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    color: #005677;
    font-size: 35px
}

main{
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 15px;
    background-color: white;
}

h2{
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

}
.itali{
    font-style: italic;
    font-weight: bold;
}

span{
    font-weight: bold;
}
.span2{
    font-weight: normal;
    line-height: 0px;
}

footer{
    background-color: #005677;
    text-align: center;
}

p{
   padding-left: 75px; 
}